.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  animation: App-logo-pulse 3s infinite;
}

@keyframes App-logo-pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}


.App-header {
  background-color: #a0a3b8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

